@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 3rem;
  background-color: #F2F2F2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logoheader{
  justify-content: center;
  padding: 0rem 0rem 3rem 24rem;
}

#logoheaderMenu{
  justify-content: center;
  padding: 0rem 0rem 1rem 24rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.5rem;
  font-weight: 400;
}

#textPage{
  margin: 0rem 0rem 1rem 25rem;
  color: #581D28;
}

.email, .password {
  padding: 15px 78px 16px 49px;
  margin: 1rem 0rem 0rem 19rem;
  background-color: #A5BE4B;
  color: white;
  border: 3px solid #555;
  font-size: 1.3rem;
  border-radius: 5%;
}


input::placeholder {
  color: #3B5998;
  font-size: 1.3rem;
  background-color: #A5BE4B;
  color: rgba(255, 255, 255, 0.582);
}

.buttonLogin, .buttonLogout{
    position: initial;
    width: 192px;
    height: 57px;
    background: #FFC90E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #581D28;
    font-size: 1.5rem;
    border: none;
    border-radius: 5%;
    margin: 2rem 0rem 1rem 24rem;
    font-weight: bold;
  }

  .buttonFood{
    position: inherit;
    width: 557px;
    height: 122px;
    border: 1px solid #F0595B;
    background-color: #F0595B;
    color: white;
    box-sizing: border-box;
    border-radius: 18px;
    font-size: 4rem;
    margin: 1rem 0rem 0rem 13rem;
  }
  .h1-dinner{
    font-size: 8vh;
    color: #581D28;
    margin: 2px;
  }
  .h5-dinner{
    font-size: 3vh;
    color: #581D28;
  }
  .button-acept-dinner{
    height: 5vh;
    width: 14vh;
    background: #FFC90E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #581D28;
    font-size: 1rem;
    border: none;
    border-radius: 5%;
    font-weight: bold;
  }
  .sign-dinner{
    font-size: 3vh;
  }
  .h4-dinner{
    font-size: 2.5vh;
    color: #581D28;
    margin: 2px;
  }
  .p-dinner{
    font-size: 4vh;
    color: #581D28;
    font-weight: bold;
    margin: 2px;
    width: 52vh;
  }
  .container-options-menu{
    display: flex;
    flex: row;
    width: 60vh;
  }
  .container-line{
    display: flex;
    flex-wrap: no-wrap;
    width: 60vh;
  }
  .container-header-dinner{
    display:flex;
    flex-wrap: no-wrap;
    align-items: baseline;
    justify-content: space-between;
    margin: 2px;
    height: 10vh;
  }
  #input-cliente{
    border: 0;
    background-color: #F2F2F2;
  }
  .container-options-dinner{
    display: flex;
    background-color: #DFD7CC;
    height: 5vh;
    width: 28vh;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 10%;
    margin: 1vh;
  }
  .sign-dinner{
    display: flex;
    height: 5vh;
    width: 5vh;
    border-radius: 5%;
    background-color: #F0595B;
    font-size: 3vh;
    font-weight: bold;
    color: white;
    margin: 2px;
    align-items: center;
    border-radius: 10%;
    justify-content: center;
  }
  .line-options{
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
  }
  .container-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .menssage-cook{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 16vh;
  }
  .input-message{
    height: 14vh;
    width: 104vh;
    border-radius: 10px;
    border:rgba(255, 255, 255, 0.582)
  }
  .container-footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .button-dinner{
    height: 5vh;
    width: 18vh;
    background: #FFC90E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #581D28;
    font-size: 1rem;
    border: none;
    border-radius: 5%;
    font-weight: bold;
  }
  .timer{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 32vh;
    background: #F0595B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:white;
    font-size: 1rem;
    border: none;
    border-radius: 5%;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .container-list-head{
    display: flex;
    flex-direction: row;
    width: 52vh;
    justify-content: space-between;
  }
  .button-dinner-m{
    height: 5vh;
    width: 18vh;
    background: #FFC90E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #581D28;
    font-size: 1rem;
    border: none;
    border-radius: 5%;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .container-list{
    display: flex;
    flex-direction: row;
  }
  .container-cant{
    background-color:#DFD7CC;
    width: 8vh;
    height: 30vh;
    margin: 1vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
  }
  .container-descript{
    width: 32vh;
    height: 30vh;
    background-color:#DFD7CC;
    margin: 1vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
  }
  .container-total{
    width: 16vh;
    height: 30vh;
    background-color:#DFD7CC;
    margin: 1vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
  }
  .container-final-total{
    width: 62vh;
    height: 6vh;
    background-color:#DFD7CC;
    margin-right: 1vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
  }

  
 
    